body {
  background-color: #f0f0f0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInScale {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fadeIn {
  animation: fadeInUp 0.8s cubic-bezier(0.4, 0, 0.2, 1);
}

.animate-fadeIn-delay-1500 {
  animation: fadeInUp 0.8s cubic-bezier(0.4, 0, 0.2, 1) 0.5s both;
}

.animate-fadeIn-delay-2000 {
  animation: fadeInUp 0.8s cubic-bezier(0.4, 0, 0.2, 1) 1s both;
}

@keyframes shimmer {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}

.shimmer {
  background: linear-gradient(
    120deg,
    #e0e0e0 0%,
    #ffffff 5%,
    #c0c0c0 10%,
    #e0e0e0 40%,
    #e0e0e0 100%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
}

.shimmer-text {
  color: transparent;
  background: linear-gradient(
    120deg,
    #b0b0b0 0%,
    #ffffff 5%,
    #909090 10%,
    #b0b0b0 40%,
    #b0b0b0 100%
  );
  background-size: 200% 100%;
  animation: shimmer 2s infinite linear;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 1rem; /* 텍스트 크기 조정 */
  white-space: nowrap; /* 텍스트가 잘리지 않도록 설정 */
}
